<!-- <div class="button-container">
  <div class="button-background"></div>
  <div class="button-text">Show on Map</div>
</div> -->

<!-- <div class="btn-div">
  <button class="custom-button">
    <span class="button-text">Get Started</span>
    <span class="button-arrow"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
       fill="green"/></svg></span>
  </button>
</div> -->

<div _ngcontent-ng-c3713669422="" class="banner-shape-area">
  <div _ngcontent-ng-c3713669422="" class="shape1 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/middle-3.png"
      alt=""
    />
  </div>
  <div _ngcontent-ng-c3713669422="" class="shape2 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/top-left-1.png"
      alt=""
    />
  </div>
  <div _ngcontent-ng-c3713669422="" class="shape3 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/top-right-2.png"
      alt=""
    />
  </div>
  <div _ngcontent-ng-c3713669422="" class="shape4 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/middle-right-5.png"
      alt=""
    />
  </div>
  <div _ngcontent-ng-c3713669422="" class="shape5 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/bottom-6.png"
      alt=""
    />
  </div>
  <div _ngcontent-ng-c3713669422="" class="shape6 shape">
    <img
      _ngcontent-ng-c3713669422=""
      src="../../../../../assets/static-image/about/our-values/middle-left-4.png"
      alt=""
    />
  </div>
</div>
